.App {
    text-align: center;
  }
  .heading{
    background-color: blue;
    color: white;
    padding: 15px;
  }


  /* from section */
  label{
    font-size: 22px;
    font-weight: 600;
  }
  input{
    margin: 0.5rem;
    padding: 0.5rem;
    width: 20rem;
    border-radius: 10px;
  }
  .add-btn{
    background-color: green;
    color: white;
    font-weight: 600;
    padding: 8px 14px;
    border: none;
    border-radius: 5px;
  }


  /* card section */
  .card-app{
    margin: 1rem;
    padding: 1rem;
    border-radius: 20px;
    background-color: #282c34;
    color: white;
  }
  .delete-btn, .edit-btn{
    color: white;
    font-weight: 600;
    padding: 0.5rem;
    margin:0.5rem;
    width:5rem;
    cursor:pointer;
    border: none;
    transition: all 0.3s;
  }
  .edit-btn{
    background-color: blue;

  }
  .delete-btn{
    background-color: red;
  }

  section{
    display: grid;
  }

  @media screen and (min-width:600px) {
    section{
        grid-template-columns: auto auto;
    }
  }

  @media screen and (min-width:768px) {
    section{
        grid-template-columns: auto auto auto;
    }
  }
  @media screen and (min-width:900px) {
    section{
        grid-template-columns: auto auto auto auto;
    }
  }